@import "tailwindcss";
/* Utilities */
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility flex-between {
  @apply flex justify-between items-center;
}
@utility abs-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
::selection {
  @apply text-yellow-200;
}
body {
  font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
}
.dark {
  background-color: #191717;
  color: white;
}
.li {
  list-style-type: none;
  @apply p-2;
}
.li:hover {
  cursor: pointer;
}
/* This part of styling is for Hero */
#hero {
  /* background-image: url("../../assets/img2.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: calc(100vh - 70px);
}
#hero > .con {
  /* To make the height of the hero + the header = 100vh, we subtract the hight of the header which is 70px */
  height: calc(100vh - 70px);
}
.word {
  display: inline-block;
  margin-right: 0.25em;
  white-space: pre;
}
.welcoming {
  display: block;
  white-space: normal;
}
/* SubHero style */
.sub-hero {
  height: calc(100vh - 70px);
}
.middle-photo {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

@media (min-width: 640px) {
  .middle-photo {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 768px) {
  .middle-photo {
    width: 200px;
    height: 200px;
  }
}
.img1,
.img2,
.img3 {
  background-size: cover;
  scale: 0;
  width: 250px;
  height: 250px;
}

@media (min-width: 640px) {
  .img1,
  .img2,
  .img3 {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  .img1,
  .img2,
  .img3 {
    width: 400px;
    height: 400px;
  }
}
/* sign up page */
.signup,
.login {
  @apply bg-yellow-500 text-white rounded-lg font-semibold hover:bg-yellow-600 transition text-2xl h-[30px];
}
.options > div {
  @apply p-1 transition-colors;
}
.options > div:hover {
  @apply bg-amber-400 cursor-pointer;
}
.menu > button {
  @apply hover:cursor-pointer hover:border-2 transition-all rounded-2xl w-[25%];
}
.card {
  @apply flex-1 h-[350px] p-4 shadow hover:shadow-lg transition rounded-2xl hover:-translate-y-4 hover:bg-gray-700 bg-gray-600 flex flex-col items-center gap-10;
}
